<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap" rel="stylesheet">


	<title>Home Page</title>
	<style>
		* {
			padding: 0;
			margin: 0;
			font-family: 'Oswald', sans-serif;

		}

		#headerBlock {
			display: flex;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 100;
			height:35px;
			background-color: #eaeaea;
			justify-content:space-around;
		}

		#NavigationBlock {
			display: flex;
			justify-content:space-around;

		}
	</style>
</head>

<body>
	<div id="headerBlock">
		<div>MYFITNESSBUDDY</div>
		<div id="NavigationBlock">
			<a href="">Summary</a>
			<a th:href="@{addWorkout}">Add Workout</a>
			<a href="">Statistics</a>
			<a href="">Profile</a>
			<a href="">Log out</a>
		</div>
	</div>
	<div id="mainBlock">
		
		<form action="" method="">
			<div id="input-field">
				<label for="date">Date:</label>
				<input type="date" id="date" name="date" required>	
			</div>
			
			<div id="input-field">
				<label for="start-time">Start Time:</label>
				<input type="time" id="startTime" name="startTime" required>	
			</div>
			
			<div id="input-field">
				<label for="end-time">End Time:</label>
				<input type="time" id="endTime" name="endTime" required>
			</div>
			
			<div id="input-field">
				<label for="bodyWeight">BodyWeight</label>
				<input type="number" id="bodyWeight" name="bodyWeight">
			</div>
			
			<div id="input-field">
				<label for="notes">Notes:</label>
				<textarea id="notes" name="notes"></textarea>
			</div>
			
			
		</form>
		
		
	</div>

</body>

</html>